<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- タスクオプションを生成するメソッド -->
  <% def task_options_for_select(tasks) %>
    <% tasks.flat_map do |task| %>
      <% option = [[task.text, task.id]] %>
      <% if task.sub_tasks.any? %>
        <% option += task_options_for_select(task.sub_tasks) %>
      <% end %>
      <% option %>
    <% end %>
  <% end %>

  <!-- タスクの削除フォーム -->
  <div class="container-1">
    <%= form_with url: delete_selected_task_path, method: :delete do %>
      <div>
        <%= label_tag :task_id, "Select task" %>
        <%= select_tag :task_id, options_for_select(task_options_for_select(@tasks)) %>
      </div>
      <div>
        <%= submit_tag "Delete", class:"delete-btn" %>
      </div>
    <% end %>
  </div>

  <!-- タスク一覧表示 -->
  <ul class="task-list-1">
    <% @tasks.each do |task| %>
      <li class="task-item-1">
        <strong><%= task.text %></strong>
        <%= render partial: "tasks/index", locals: { task: task } %>
      </li>
    <% end %>
  </ul>
  
  <div class="btn-2-container">
    <%= link_to 'Return to task list', tasks_path, class: "btn-2" %>
  </div>
</body>
</html>

