<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= form_with model: @task, local: true do |form| %>
    <%= form.label :title, "New task" %>
    <%= form.text_field :title %><br>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.label :parent_task_id, "Select task (option)" %>
      <%= form.collection_select :parent_task_id, current_user.tasks, :id, :title, include_blank: true %><br>
    <%= form.submit "Add" %>
  <% end %>

  <ul>
    <% @tasks.each do |task| %>
      <li>
        <strong><%= task.title %></strong>
        <%= render partial: "tasks/index", locals: { task: task } %>
      </li>
    <% end %>
  </ul>
  
  <%= link_to 'Return to task list', tasks_path %>
</body>
</html>
