<!DOCTYPE html>
<html>
  <head>
    <title>TASK MANAGER</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-1"><a href="/"class="logo">TASK MANAGER</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-1">
            <span class="user_info"><%= current_user.nickname %></span>
            <ul class="user_info-1">
              <li>
                <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "logout_button" %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="grid-1">
            <%= link_to "Login", new_user_session_path, class: "post" %>
            <%= link_to "Sign up", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>